
MONGODB_URI=
CLOUDINARY_REVIEW_FOLDER=
NODE_ENV=development

# JWT Secrets
JWT_SECRET=
JWT_REFRESH_SECRET=

# Razorpay
NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Redis
REDIS_URL=



